tunnel: REPLACE_WITH_TUNNEL_UUID
credentials-file: /home/REPLACE_WITH_USER/.cloudflared/REPLACE_WITH_TUNNEL_UUID.json

ingress:
  - hostname: gvault.guber.dev
    service: http://127.0.0.1:55174
  - service: http_status:404
